<!DOCTYPE html>
{% extends 'sat_base.html' %}

{% block content %}
  <center>
    <div style="background-color: rgb(255, 255, 255, .1); padding-bottom: 0.25em; margin-bottom: 1em; border-bottom: 2px solid dimGray">
      <h1 style="padding-top: 0.4em;"><b>Elements of Computing Final Project</b></h1>
      <h4 style="padding-top: 0.25em;"><i>By Jack Slattery</i></h4>
    </div>
    <div id="cesiumContainer"></div>
      <script type="text/javascript" language="javascript">

        Cesium.Ion.defaultAccessToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIwMGZkMzlkYy0xNDdkLTQ5MTEtYjY2OS1jN2JjNzllNmZlMzgiLCJpZCI6ODc1MDMsImlhdCI6MTY0ODU3NjczMX0.1JhoIllSRmkhIjzTipN2UYWWSvTOC6eRx2T0sMzE3b0';

        // Initialize the Cesium Viewer in the HTML element with the `cesiumContainer` ID.
        const viewer = new Cesium.Viewer('cesiumContainer', {
          shouldAnimate: true
        });
        viewer.scene.globe.enableLighting = true;

        var updateView = "{{updateViewer}}"

        function updateCesiumView() {
          // Update the Cesium Viewer
          if (updateView == "True") {
            viewer.dataSources.removeAll();
            czmlJson = JSON.parse('{{shownCzml | tojson}}');
            viewer.dataSources.add(
              Cesium.CzmlDataSource.load(czmlJson)
            );
          }
          return true;
        }

        if (updateView == "True") {
          updateCesiumView()
        }

      </script>
    </div>
    <center>

      <div style="padding:1em 1em 3em 3em; height:40em; width:70em;">
        <center>
          <div style="padding: 1em 1em 1em 1em;">
            <button id="submitButton" style="background-color:ghostWhite" onclick='sendData()'>Plot Selected</button>
          </div>
          <h6>ex. Search SPXS for SpaceX Satellites</h6>
          <div style="background-color:whiteSmoke; padding: 1em 1em 1em 1em; border:0.5px solid black">
              <table id="example" class="display" style="width:100%">
                <thead>
                  <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Satcat Code</th>
                    <th>Owner</th>
                    <th>State</th>
                    <th>Launch Date</th>
                    <th>Status</th>
                  </tr>
                <tbody>
                  {% for key,value in df_final.iterrows() %}
                    <tr>
                      <td></td>
                      <td>{{value['Name']}}</td>
                      <td>{{value['Satcat']}}</td>
                      <td>{{value['Owner']}}</td>
                      <td>{{value['State']}}</td>
                      <td>{{value['LDate']}}</td>
                      <td>{{value['ExpandedStatus']}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </center>
      </div>
    </center>
  </center>
{% endblock %}
